[submodule "docs/wiki"]
	path = docs/wiki
	url = https://github.com/NguyenTrongPhuc552003/haven-wiki.git
[submodule "docs/thesis"]
	path = docs/thesis
	url = https://github.com/NguyenTrongPhuc552003/haven-thesis.git
